@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');
.first_col {
    background-image: linear-gradient(to right, rgb(132, 231, 93) , rgb(47, 228, 158));/* Change this to your desired color */
    z-index: 1;
    padding: 20px;
    box-shadow: 5px 10px 8px #888888;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-shadow: 2px 2px 4px #000000;
    display:flex;
    
  }
  .first_col h1{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  .first_col p{
    color: white;
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
  }
  
  /* Add background color to the right column (form) */
  .form-col {
    background-color: #f4f4f4; /* Change this to your desired color */
    margin: 0; /* Remove any margin */
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .form-col h1{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
  }
  .form-col p{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    
  }
 /* Apply 100% width to form fields */
 .form-group input[type="number"],
 .form-group input[type="password"],
 .form-group input[type="text"]{
     width: 100%;
     margin: 0 auto; /* Center-align the input fields */
     display: block;
     margin-bottom: 10px;
     

 }
.form-group input[type="number"]::placeholder,
.form-group input[type="password"]::placeholder {
    color: #999; /* Placeholder text color */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}
.btnstyle{
  width: 90%;
  margin: 0 auto; /* Center-align the input fields */
  display: block;
  margin-bottom: 10px;
  background-color: rgb(0, 180, 111);
  border-color: rgb(0, 180, 111) ;
}
