{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Register</title>
   
</head>

<body>
    {% block content %}

    <!-- Register -->
    <!-- <div class="container py-5"> -->
        <div class="row">
            <!-- First Column for Image -->
            <div class="col-md-6 first_col">
                <!-- Add your image here -->
     
                    <img class="rounded-circle" alt="Your Image" src="{% static 'images/accounts.jpg' %}" width="300px">
                    <h1>Nami connecting you anywhere!</h1>
                    <p>Our kingdom wide coverage will serve our partners with highly available and sustainable connectivity solutions which will grant the stability and consistency for their businesses.</p>
         
            
            </div>
    
            <!-- Second Column for Form -->
            <div class="col-md-6 form-col">
                <h1 class="text-center">Welcome</h1>
                <form method="POST">
                    {% csrf_token %}
                    
                   
                    <div class="row g-3">
                    <div class="col form-group">
                        <input type="text" class="form-control"  placeholder="Username" name="username">
                    </div>
                    
                   
                    <div class="col form-group">
                        <input type="number" class="form-control"  placeholder="ID Number" name="idnumber">
                    </div>
                    </div>
                    
                    <div class="row g-3">
                        <div class="col form-group">
                            <input type="number" class="form-control"  placeholder="CR Number" name="crnumber">
                        </div>
                        
                        
                        <div class="col form-group">
                            <input type="number" class="form-control"  placeholder="Mobile Number" name="number">
                        </div>
                        </div>
                        <div class="row g-3">
                        <div class="col form-group">
                            <input type="password" class="form-control"  placeholder="Password" name="password">
                        </div>
                            
                        
                        <div class="col form-group">
                            <select class="form-control" name="resident_id_type">
                                <option value="" selected disabled>Select Resident ID Type</option>
                                <option value="passport">Passport</option>
                                <option value="driver_license">Driver's License</option>
                                <option value="national_id">National ID</option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>
                        </div>
    
                    <button class="btn btn-primary btnstyle" type="submit">Sign Up</button>
                </form>
                <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
            </div>
        </div>
    <!-- </div> -->
    
    {% endblock %}
</body>
</html>
